<h1>About</h1>
<p>
	<%= link_to "Rails App by Mamta", "#" %>
	is a project to create the first app using 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>.

	This is a sample app created by <%= link_to "Mamta Parakh", "#" %> in the
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> course.
</p>
