<div class="center hero-unit">

	<h1>Welcome to Rails App by Mamta</h1>
	<p>
		You've found the home page for 
		<%= link_to "Rails App by Mamta", "#3"%>
	</p>
	<p>
		<%= link_to "Sign up now!", "#", class:"btn btn-large btn-primary" %>
	</p>
</div>
